﻿@model EncomendaViewModel

<h2>
    Processo Seletivo Automind - Analista de Sistemas
</h2>

<h4>Volume de Carga</h4>
<hr />


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">
    <div class="col-md-5">
        <form asp-action="InserirEncomenda">
            <!-- Identificador -->
            <div class="form-group">
                <label asp-for="Id" class="control-label">Identificador</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <!-- Volume da encomenda -->
            <div class="form-group">
                <label asp-for="Volume" class="control-label">Volume da encomenda: <small><i>(altura*largura*comprimento)</i></small> </label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>

            <!-- Valor do frete -->
            <div class="form-group">
                <label asp-for="ValorFrete" class="control-label">Valor do Frete:</label>
                <input asp-for="ValorFrete" class="form-control" />
                <span asp-validation-for="ValorFrete" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" name="Inserir" value="Inserir" class="btn btn-success" />
            </div>

            <!-- Volume do caminhão -->
            <div class="form-group">
                <label asp-for="VolumeCargaCaminhao" class="control-label">Volume de carga do caminhão: <small><i>(altura*largura*comprimento)</i></small></label>
                <div class="input-group">
                    <input asp-for="VolumeCargaCaminhao" class="form-control" />
                    <div class="input-group-btn">
                        <input type="submit" formnovalidate name="Calcular" value="Calcular" class="btn btn-primary" />
                    </div>
                </div>
                <span asp-validation-for="VolumeCargaCaminhao" class="text-danger"></span>
            </div>

        </form>
    </div>

    <div class="col-md-5">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Volume
                    </th>
                    <th>
                        Frete
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (ViewData["list"] as List<Encomenda>))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Volume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorFrete)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (!string.IsNullOrEmpty(Model.Resposta))
        {

            <div class="form-group">
                <div class="alert alert-info" role="alert"> <strong>@Html.Raw(Model.Resposta)</strong></div>
            </div>
        }
    </div>

</div> 